//uploadfile/form.html
<html>
<head>
<title>FastAPI File Upload with Jinja2 Template</title>
</head>
<body>

                <h1 class="title">FastAPI File Upload with Jinja2 Template</h1>
                <hr />
<form method="post" action="/file/store"  enctype="multipart/form-data">
                    <label for="confirm" class="cols-sm-2 control-label">Upload File</label>
                <input type="file" name="file" class="form-control"><br>
                <input type="submit" value="upload" class="btn btn-primary btn-lg btn-block login-button"><br>

</form>


</body>
</html>